body {
  direction: rtl;
}
.rightSide {
  flex-basis: 300px;
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.page-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-wrapper {
  width: 90%;
  height: 500px;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
}
.small-calendar-wrapper {
  width: 248px;
  height: 240px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.small-calendar-header {
  height: 33px;
  border-bottom: 1px solid black;
  background-color: #eaeff5;
}
.small-calendar-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.small-calendar-row {
  display: flex;
  justify-content: space-between;
  flex: 1;
  flex-direction: row;
}
.small-calendar-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
